@font-face {
    font-family: MYRIA;
    src: url(/build/fonts/MYRIADAM.TTF), url(/build/fonts/MYRIADAS.TTF);
}

@font-face {
    font-family: DOMINIQUE;
    src: url(/build/fonts/Dominique.otf);
}


// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
// $negro: #000000;
// $amarillo: #E08709;;
// $verde: #71B100;
// $blanco: #FFFFFF;
// $gris: #e1e1e1;
// $grisOscuro: #333333;