@use '../base/mixins' as mix;

.section {
    padding: 2rem;
    margin: 5rem auto;
}

.elements-sectionText {
    justify-content: center;

    @include mix.tablet {
        margin-top: 10rem;

        h3 {
            font-size: 4.2rem;
        }
    }

    @include mix.desktop {
        justify-content: flex-start;
    }

}